version: 2
jobs:
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine
    steps:
      - checkout
      - run:
          name: lint
          command: |
            shellcheck -x scripts/release.sh
  lint-charts:
    docker:
      - image: gcr.io/kubernetes-charts-ci/test-image:v3.3.2
    steps:
      - checkout
      - run:
          name: lint
          command: |
            git remote add k8s https://github.com/oxyno-zeta/helm-charts
            git fetch k8s master
            ct lint --config scripts/ct.yaml
  sync:
    docker:
      - image: alpine/helm:2.14.3
    steps:
      - checkout
      - run:
          name: prepare
          command: |
            apk add --update bash git openssh-client
            helm init --client-only
            git config --global user.email "oxynozeta.oz@gmail.com"
            git config --global user.name "CI"
      - run:
          name: sync
          command: |
            ./scripts/release.sh
workflows:
  version: 2
  lint-and-sync:
    jobs:
      - lint-scripts:
          filters:
            branches:
              ignore:
                - gh-pages
      - lint-charts:
          filters:
            branches:
              ignore:
                - gh-pages
      - sync:
          requires:
            - lint-scripts
            - lint-charts
          filters:
            branches:
              only:
                - master
                - gh-pages
